@import '../../../../assets/styles/mixins/adaptive-font';
@import '../../../../assets/styles/hamburger';

.header {
  position: fixed;
  z-index: 100;
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  transition: all 0.4s linear;

  .container {
    height: 100%;

    .row {
      height: 100%;
    }
  }

  &.min-header {
    height: 80px;
    box-shadow: 0 0 11px 0 rgb(0 0 0 / 20%);
  }

  @media screen and (width <= 768px) {
    height: 80px;

    &.min-header {
      height: 70px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f2eddc;
    z-index: 50;

    @media screen and (width <= 992px) {
      box-shadow: 0 0 11px 0 rgb(0 0 0 / 20%);
    }
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  .hamburger {
    padding: 0;
    margin-top: 11px;

    @media screen and (width >= 993px) {
      display: none;
    }

    z-index: 51;

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background: #402e21;
    }

    .hamburger-inner {
      top: 0;
    }
  }
}

.header-container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 51;

  // .header-container-logo__link

  &__link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  // .header-container-logo__img

  &__img {
    width: 100%;
    height: 28px;
  }

  // .header-container-logo__text

  &__text {
    @include adaptive-value('font-size', 20, 18, 0);

    color: #593a28;
    font-weight: 600;
  }
}

.header-container-menu {
  z-index: 51;
  display: block;
  height: 100%;

  &.is-active {
    right: 0;
  }

  @media screen and (width <= 992px) {
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f2eddc;
    transition: all 0.4s ease-in-out;
    margin-top: 0;
    z-index: 49;
    overflow-y: auto;
    margin-right: 0;
  }
}

.header-container-menu-list {
  display: flex;
  align-items: center;
  height: 100%;

  @media screen and (width <= 992px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    height: 100%;
  }
}

.header-container-menu-list-item {
  // .header-container-menu-list-item__link
  margin-left: 78px;

  @media screen and (width <= 1200px) {
    margin-left: 40px;
  }

  @media screen and (width <= 992px) {
    padding: 30px 0;
    margin-left: 0;
  }

  &:first-child {
    margin-left: 0;
  }

  &__link {
    position: relative;

    @include adaptive-value('font-size', 21, 25, 0);

    font-weight: 700;
    color: #593a28;

    &::before {
      position: absolute;
      transition: all 0.2s ease;
      bottom: -4px;
      content: '';
      height: 2px;
      width: 0;
      background: #593a28;
      border-radius: 20px;
    }

    &.active-link {
      &::before {
        width: 100%;
      }
    }
  }
}
