<header class="header" [ngClass]="themeService.themeSignal()">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="header__container header-container">
          <div class="header-container__logo header-container-logo">
            <a
              (click)="removeActiveClass()"
              routerLink="/home"
              class="header-container-logo__link"
            >
              @if (this.themeService.themeSignal() === 'dark-theme') {
                <app-progressive-image
                  class="header-container-logo__img"
                  imageUrl="header/logo-light-theme.png"
                  imageAlt="logo"
                  imagePriority="true"
                  imageFill="false"
                  imageWidth="202"
                  imageHeight="30"
                ></app-progressive-image>
              } @else {
                <app-progressive-image
                  class="header-container-logo__img"
                  imageUrl="header/logo-dark-theme.png"
                  imageAlt="logo"
                  imagePriority="true"
                  imageFill="false"
                  imageWidth="202"
                  imageHeight="30"
                ></app-progressive-image>
              }
              <h2
                class="header-container-logo__text"
                [ngClass]="themeService.themeSignal()"
              >
                Ваш дім - наше мистецтво
              </h2>
            </a>
          </div>
          <nav
            [class.is-active]="isActive"
            class="header-container__menu header-container-menu"
            [ngClass]="themeService.themeSignal()"
          >
            <ul class="header-container-menu__list header-container-menu-list">
              <li
                class="header-container-menu-list__item header-container-menu-list-item"
              >
                <a
                  (click)="removeActiveClass()"
                  class="header-container-menu-list-item__link"
                  [ngClass]="themeService.themeSignal()"
                  routerLink="/home"
                  routerLinkActive="active-link"
                  ariaCurrentWhenActive="page"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >Головна</a
                >
              </li>
              <li
                class="header-container-menu-list__item header-container-menu-list-item"
              >
                <a
                  (click)="removeActiveClass()"
                  class="header-container-menu-list-item__link"
                  [ngClass]="themeService.themeSignal()"
                  routerLink="/catalogue"
                  routerLinkActive="active-link"
                  ariaCurrentWhenActive="page"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >Каталог</a
                >
              </li>
              <li
                class="header-container-menu-list__item header-container-menu-list-item"
              >
                <a
                  (click)="removeActiveClass()"
                  class="header-container-menu-list-item__link"
                  [ngClass]="themeService.themeSignal()"
                  routerLink="/gallery"
                  routerLinkActive="active-link"
                  ariaCurrentWhenActive="page"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >Галерея</a
                >
              </li>
              <li
                class="header-container-menu-list__item header-container-menu-list-item"
              >
                <a
                  (click)="removeActiveClass()"
                  class="header-container-menu-list-item__link"
                  [ngClass]="themeService.themeSignal()"
                  routerLink="/about-us"
                  routerLinkActive="active-link"
                  ariaCurrentWhenActive="page"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >Про нас</a
                >
              </li>
              <li
                class="header-container-menu-list__item header-container-menu-list-item"
              >
                <a
                  (click)="removeActiveClass()"
                  class="header-container-menu-list-item__link"
                  [ngClass]="themeService.themeSignal()"
                  routerLink="/contact"
                  routerLinkActive="active-link"
                  ariaCurrentWhenActive="page"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >Контакти</a
                >
              </li>
            </ul>
          </nav>
          <div class="header-right-side">
            <div class="theme-switcher">
              @if (this.themeService.themeSignal() === 'dark-theme') {
                <button class="theme-switcher__icon" (click)="toggleTheme()">
                  <app-progressive-image
                    imageUrl="header/theme-switcher-light-mode.svg"
                    imageAlt="theme-switcher-light-mode"
                    imagePriority="true"
                    imageFill="false"
                    imageWidth="24"
                    imageHeight="24"
                  ></app-progressive-image>
                </button>
              } @else {
                <button class="theme-switcher__icon" (click)="toggleTheme()">
                  <app-progressive-image
                    imageUrl="header/theme-switcher-dark-mode.svg"
                    imageAlt="theme-switcher-dark-mode"
                    imagePriority="true"
                    imageFill="false"
                    imageWidth="24"
                    imageHeight="24"
                  ></app-progressive-image>
                </button>
              }
            </div>
            <button
              class="hamburger hamburger-spring"
              [ngClass]="themeService.themeSignal()"
              [class.is-active]="isActive"
              (click)="toggleNav()"
              aria-label="hamburger menu"
            >
              <div class="hamburger-box">
                <div class="hamburger-inner"></div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
