<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="header__container header-container">
          <div class="header-container__logo header-container-logo">
            <a
              (click)="removeActiveClass()"
              routerLink="/home"
              class="header-container-logo__link"
            >
              <app-progressive-image
                class="header-container-logo__img"
                imageUrl="images/header/logo.svg"
                imageAlt="logo"
                imagePriority="true"
                imageFill="false"
                imageWidth="202"
                imageHeight="30"
              ></app-progressive-image>
              <h2 class="header-container-logo__text">
                Ваш дім - наше мистецтво
              </h2>
            </a>
          </div>
          <nav
            [class.is-active]="isActive"
            class="header-container__menu header-container-menu"
          >
            <ul class="header-container-menu__list header-container-menu-list">
              <li
                class="header-container-menu-list__item header-container-menu-list-item"
              >
                <a
                  (click)="removeActiveClass()"
                  class="header-container-menu-list-item__link"
                  routerLink="/home"
                  routerLinkActive="active-link"
                  ariaCurrentWhenActive="page"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >Головна</a
                >
              </li>
              <li
                class="header-container-menu-list__item header-container-menu-list-item"
              >
                <a
                  (click)="removeActiveClass()"
                  class="header-container-menu-list-item__link"
                  routerLink="/catalogue"
                  routerLinkActive="active-link"
                  ariaCurrentWhenActive="page"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >Каталог</a
                >
              </li>
              <li
                class="header-container-menu-list__item header-container-menu-list-item"
              >
                <a
                  (click)="removeActiveClass()"
                  class="header-container-menu-list-item__link"
                  routerLink="/gallery"
                  routerLinkActive="active-link"
                  ariaCurrentWhenActive="page"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >Галерея</a
                >
              </li>
              <li
                class="header-container-menu-list__item header-container-menu-list-item"
              >
                <a
                  (click)="removeActiveClass()"
                  class="header-container-menu-list-item__link"
                  routerLink="/about-us"
                  routerLinkActive="active-link"
                  ariaCurrentWhenActive="page"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >Про нас</a
                >
              </li>
              <li
                class="header-container-menu-list__item header-container-menu-list-item"
              >
                <a
                  (click)="removeActiveClass()"
                  class="header-container-menu-list-item__link"
                  routerLink="/contact"
                  routerLinkActive="active-link"
                  ariaCurrentWhenActive="page"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >Контакти</a
                >
              </li>
            </ul>
          </nav>
          <button
            class="hamburger hamburger-spring"
            [class.is-active]="isActive"
            (click)="toggleNav()"
            aria-label="hamburger menu"
          >
            <div class="hamburger-box">
              <div class="hamburger-inner"></div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
