@import '../../../../assets/styles/mixins/adaptive-font';
@import '../../../../assets/styles/global-button';
@import '../../../../assets/styles/block-padding';
@import '../../../../assets/styles/dark-theme';
@import '../../../../assets/styles/light-theme';

.about {
  background-color: $light-theme-background-color;

  .about-title-container {
    display: flex;
    justify-content: center;

    @media screen and (width >= 768px) {
      justify-content: flex-end;
    }

    &.light-theme {
      &__title {
        color: $light-theme-color;
      }
    }

    &.dark-theme {
      &__title {
        color: $dark-theme-color;
      }
    }

    &__title {
      transition: color 0.3s linear;
      font-weight: 600;

      @include adaptive-value('font-size', 40, 27, 0);
    }
  }

  .about-text-container {
    margin: 15px 0 25px;

    @media screen and (width >= 768px) {
      margin: 6px 0 35px;
    }

    &__text {
      color: #0d0000;
      font-weight: 600;

      @include adaptive-value('font-size', 32, 20, 0);
    }
  }

  .about-btn-container {
    display: flex;
    justify-content: center;

    .global-button {
      display: inline-flex;

      &.light-theme {
        background-color: #d9d2b0;
      }
    }
  }
}
