<div class="about block-padding">
  <div class="container">
    <div class="row">
      <div
        class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-3 about__title-container about-title-container"
        [ngClass]="themeService.themeSignal()"
      >
        <h2 class="about-title-container__title">Elit-Fasad</h2>
      </div>
      <div
        class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-10 col-xxl-9 about__text-container about-text-container"
      >
        <h2 class="about-text-container__text">
          - це вищий стандарт у сфері фасадів та накладок. Наша компанія
          вирізняється турботою про деталі, високоякісними матеріалами та
          індивідуальним підходом до кожного проекту. З Elit-Fasad ви отримуєте
          не просто продукти, а створюєте свій унікальний затишок за допомогою
          наших дизайнерів та майстрів.
        </h2>
      </div>
      <div class="col-12 about-btn-container">
        <a
          (click)="goToTop()"
          routerLink="/about-us"
          class="global-button"
          [ngClass]="themeService.themeSignal()"
        >
          <span>Дізнатись більше</span>
          @if (this.themeService.themeSignal() === 'dark-theme') {
            <app-progressive-image
              class="global-button-img"
              imageHeight="16"
              imageWidth="32"
              imageFill="false"
              imagePriority="false"
              imageAlt="global-button-arrow"
              imageUrl="global/global-button-arrow-light-theme.svg"
            >
            </app-progressive-image>
          } @else {
            <app-progressive-image
              class="global-button-img"
              imageHeight="16"
              imageWidth="32"
              imageFill="false"
              imagePriority="false"
              imageAlt="global-button-arrow"
              imageUrl="global/global-button-arrow-dark-theme.svg"
            >
            </app-progressive-image>
          }
        </a>
      </div>
    </div>
  </div>
</div>
