<div class="contact-us">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="contact-us__title global-block-title">Зв’язатись з нами</h2>
      </div>
    </div>
  </div>
  @defer (on immediate) {
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="contact-us__bg">
            <app-progressive-image
              imageUrl="assets/images/contact-us/contact-us-bg.webp"
              imageUrlPlaceholder="assets/images/contact-us/contact-us-bg-placeholder.webp"
              imagePriority="false"
              imageAlt="contact-us-bg"
              imageFill="true"
            ></app-progressive-image>
            <div class="contact-us__form contact-us-form">
              <div class="contact-us-form__container contact-us-form-container">
                <form action="">
                  <input type="text" placeholder="П.І.Б." />
                  <input type="text" placeholder="Номер телефону" />
                  <textarea
                    placeholder="Прорахунок? (Pобиться в міліметрах)"
                  ></textarea>
                  <button type="submit">Отримати прорахунок</button>
                </form>
                <div
                  class="contact-us-form-container__social contact-us-form-container-social"
                >
                  <div class="contact-us-form-container-social__title">
                    Зв’язатись самому:
                  </div>
                  <div
                    class="contact-us-form-container-social__info contact-us-form-container-social-info"
                  >
                    <div
                      class="contact-us-form-container-social-info__text contact-us-form-container-social-info-text"
                    >
                      <div
                        class="contact-us-form-container-social-info-text__phone"
                      >
                        <span>Контакти:</span>
                        <a href="tel:+380973201371">(097)-320-13-71</a>
                      </div>
                      <div
                        class="contact-us-form-container-social-info-text__email"
                      >
                        <span>Email:</span>
                        <a href="mailto:elit.fasad&#64;hotmail.com"
                          >elit.fasad&#64;hotmail.com</a
                        >
                      </div>
                    </div>
                    <div class="contact-us-form-container-social-info__icons">
                      <a href="tg://resolve?domain=+380973201371">
                        <img
                          ngSrc="assets/images/contact-us/telegram.svg"
                          alt="telegram"
                          height="54"
                          width="54"
                        />
                      </a>
                      <a href="viber://chat?number=+380973201371">
                        <img
                          ngSrc="assets/images/contact-us/viber.svg"
                          alt="viber"
                          height="54"
                          width="54"
                        />
                      </a>
                      <a
                        href="https://www.instagram.com/elitfasad/"
                        target="_blank"
                      >
                        <img
                          ngSrc="assets/images/contact-us/instagram.svg"
                          alt="instagram"
                          height="54"
                          width="54"
                        />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  } @placeholder {
    <h2 class="contact-us__title global-block-title">Зв’язатись з нами</h2>
  }
</div>
