<div class="standards block-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="standards__title global-block-title">
          Дотримування стандартів
        </h2>
      </div>
    </div>
  </div>

  @defer (on immediate) {
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="standards-block__container standards-block-container">
            <div
              class="standards-block-container__block standards-block-container-block"
            >
              <app-progressive-image
                class="standards-block-container-block__icon"
                imageUrl="images/standards/microscope.svg"
                imageAlt="microscope"
                imagePriority="false"
                imageFill="false"
                imageWidth="125"
                imageHeight="125"
              ></app-progressive-image>
              <div class="standards-block-container-block__text">
                Всі наші меблі відповідають державним санітарно-епідеміологічним
                вимогам
              </div>
            </div>
            <div
              class="standards-block-container__block standards-block-container-block"
            >
              <app-progressive-image
                class="standards-block-container-block__icon"
                imageUrl="images/standards/natural-food.svg"
                imageAlt="natural-food"
                imagePriority="false"
                imageFill="false"
                imageWidth="125"
                imageHeight="125"
              ></app-progressive-image>
              <div class="standards-block-container-block__text">
                Вся продукція Elit-Fasad є екологічно чистою та відповідає
                світовим стандартам якості
              </div>
            </div>
            <div
              class="standards-block-container__block standards-block-container-block"
            >
              <app-progressive-image
                class="standards-block-container-block__icon"
                imageUrl="images/standards/wet.svg"
                imageAlt="wet"
                imagePriority="false"
                imageFill="false"
                imageWidth="125"
                imageHeight="125"
              ></app-progressive-image>
              <div class="standards-block-container-block__text">
                Внормована до вологого прибирання
              </div>
            </div>
            <div
              class="standards-block-container__block standards-block-container-block"
            >
              <app-progressive-image
                class="standards-block-container-block__icon"
                imageUrl="images/standards/protect.svg"
                imageAlt="protect"
                imagePriority="false"
                imageFill="false"
                imageWidth="125"
                imageHeight="125"
              ></app-progressive-image>
              <div class="standards-block-container-block__text">
                Матеріали, що використовуються у виробництві меблів,
                постачаються кращими виробниками України та Європи
              </div>
            </div>
            <div
              class="standards-block-container__block standards-block-container-block"
            >
              <app-progressive-image
                class="standards-block-container-block__icon"
                imageUrl="images/standards/handmade.svg"
                imageAlt="handmade"
                imagePriority="false"
                imageFill="false"
                imageWidth="125"
                imageHeight="125"
              ></app-progressive-image>
              <div class="standards-block-container-block__text">
                Забезпечення роботою в своїй країні та підтримка в скорішій
                перемозі
              </div>
            </div>
            <div
              class="standards-block-container__block standards-block-container-block"
            >
              <app-progressive-image
                class="standards-block-container-block__icon"
                imageUrl="images/standards/tools.svg"
                imageAlt="tools"
                imagePriority="false"
                imageFill="false"
                imageWidth="125"
                imageHeight="125"
              ></app-progressive-image>
              <div class="standards-block-container-block__text">
                Наші меблі виготовляються як вручну, так і з використанням
                сучасного високоточного обладнання та цифрового програмного
                управління
              </div>
            </div>
            <div
              class="standards-block-container__block standards-block-container-block"
            >
              <app-progressive-image
                class="standards-block-container-block__icon"
                imageUrl="images/standards/interior-design.svg"
                imageAlt="interior-design"
                imagePriority="false"
                imageFill="false"
                imageWidth="125"
                imageHeight="125"
              ></app-progressive-image>
              <div class="standards-block-container-block__text">
                Зробимо дизайн, який вам хочеться
              </div>
            </div>
            <div
              class="standards-block-container__block standards-block-container-block"
            >
              <app-progressive-image
                class="standards-block-container-block__icon"
                imageUrl="images/standards/first-place-ribbon.svg"
                imageAlt="first-place-ribbon"
                imagePriority="false"
                imageFill="false"
                imageWidth="125"
                imageHeight="125"
              ></app-progressive-image>
              <div class="standards-block-container-block__text">
                Даємо гарантію якості та стійкості на нашу продукцію
              </div>
            </div>
            <div
              class="standards-block-container__block standards-block-container-block"
            >
              <app-progressive-image
                class="standards-block-container-block__icon"
                imageUrl="images/standards/gear.svg"
                imageAlt="gear"
                imagePriority="false"
                imageFill="false"
                imageWidth="125"
                imageHeight="125"
              ></app-progressive-image>
              <div class="standards-block-container-block__text">
                Наша продукція зручна та функціональна, адже ми продумуємо
                найдрібніші деталі: практичне внутрішнє розділення та інші
                функціональні особливості
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  } @placeholder {
    <h2 class="standards__title global-block-title">Дотримування стандартів</h2>
  }
</div>
