<div class="standards block-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="standards__title global-block-title">
          Дотримування стандартів
        </h2>
      </div>
    </div>
  </div>

  @defer (on immediate) {
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="standards-block__container standards-block-container">
            <div
              class="standards-block-container__block standards-block-container-block"
            >
              <img
                class="standards-block-container-block__icon"
                ngSrc="assets/images/standards/microscope.svg"
                alt="microscope"
                height="125"
                width="125"
              />
              <div class="standards-block-container-block__text">
                Всі наші меблі відповідають державним санітарно-епідеміологічним
                вимогам
              </div>
            </div>
            <div
              class="standards-block-container__block standards-block-container-block"
            >
              <img
                class="standards-block-container-block__icon"
                ngSrc="assets/images/standards/natural-food.svg"
                alt="natural-food"
                height="125"
                width="125"
              />
              <div class="standards-block-container-block__text">
                Вся продукція Elit-Fasad є екологічно чистою та відповідає
                світовим стандартам якості
              </div>
            </div>
            <div
              class="standards-block-container__block standards-block-container-block"
            >
              <img
                class="standards-block-container-block__icon"
                ngSrc="assets/images/standards/wet.svg"
                alt="wet"
                height="125"
                width="125"
              />
              <div class="standards-block-container-block__text">
                Внормована до вологого прибирання
              </div>
            </div>
            <div
              class="standards-block-container__block standards-block-container-block"
            >
              <img
                class="standards-block-container-block__icon"
                ngSrc="assets/images/standards/protect.svg"
                alt="protect"
                height="125"
                width="125"
              />
              <div class="standards-block-container-block__text">
                Матеріали, що використовуються у виробництві меблів,
                постачаються кращими виробниками України та Європи
              </div>
            </div>
            <div
              class="standards-block-container__block standards-block-container-block"
            >
              <img
                class="standards-block-container-block__icon"
                ngSrc="assets/images/standards/handmade.svg"
                alt="handmade"
                height="125"
                width="125"
              />
              <div class="standards-block-container-block__text">
                Забезпечення роботою в своїй країні та підтримка в скорішій
                перемозі
              </div>
            </div>
            <div
              class="standards-block-container__block standards-block-container-block"
            >
              <img
                class="standards-block-container-block__icon"
                ngSrc="assets/images/standards/tools.svg"
                alt="tools"
                height="125"
                width="125"
              />
              <div class="standards-block-container-block__text">
                Наші меблі виготовляються як вручну, так і з використанням
                сучасного високоточного обладнання та цифрового програмного
                управління
              </div>
            </div>
            <div
              class="standards-block-container__block standards-block-container-block"
            >
              <img
                class="standards-block-container-block__icon"
                ngSrc="assets/images/standards/interior-design.svg"
                alt="interior-design"
                height="125"
                width="125"
              />
              <div class="standards-block-container-block__text">
                Зробимо дизайн, який вам хочеться
              </div>
            </div>
            <div
              class="standards-block-container__block standards-block-container-block"
            >
              <img
                class="standards-block-container-block__icon"
                ngSrc="assets/images/standards/first-place-ribbon.svg"
                alt="first-place-ribbon"
                height="125"
                width="125"
              />
              <div class="standards-block-container-block__text">
                Даємо гарантію якості та стійкості на нашу продукцію
              </div>
            </div>
            <div
              class="standards-block-container__block standards-block-container-block"
            >
              <img
                class="standards-block-container-block__icon"
                ngSrc="assets/images/standards/gear.svg"
                alt="gear"
                height="125"
                width="125"
              />
              <div class="standards-block-container-block__text">
                Наша продукція зручна та функціональна, адже ми продумуємо
                найдрібніші деталі: практичне внутрішнє розділення та інші
                функціональні особливості
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  } @placeholder {
    <h2 class="standards__title global-block-title">Дотримування стандартів</h2>
  }
</div>
