@import '../../../../assets/styles/mixins/adaptive-font';
@import '../../../../assets/styles/global-block-title';
@import '../../../../assets/styles/block-padding';

.how-to-find {
  height: 100%;
  width: 100%;
  background: white;

  &.block-padding {
    padding-bottom: 0;
  }

  .container-fluid {
    .col-12 {
      padding: 0;
    }
  }

  &__map {
    height: 100%;

    iframe {
      height: 100%;
      min-height: 500px;
      width: 100%;

      div {
        &:focus {
          border: 0;
        }
      }

      @media screen and (width >= 576px) {
        min-height: 550px;
      }

      @media screen and (width >= 768px) {
        min-height: 600px;
      }

      @media screen and (width >= 992px) {
        min-height: 650px;
      }

      @media screen and (width >= 1200px) {
        min-height: 700px;
      }

      @media screen and (width >= 1400px) {
        min-height: 750px;
      }
    }
  }
}
