<div class="how-to-find block-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="how-to-find__title global-block-title">Як нас знайти?</h2>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="how-to-find__map">
          @defer (on viewport) {
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2623.4728889271305!2d24.742297076868052!3d48.887324298669334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4730c3f559495a59%3A0x2951040f1d4f6007!2z0LLRg9C70LjRhtGPINCc0LDRgNC60L7QstC10YbRjNC60LAsIDMsINCl0YDQuNC_0LvQuNC9LCDQhtCy0LDQvdC-LdCk0YDQsNC90LrRltCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDc2NDk1!5e0!3m2!1suk!2sua!4v1711540509597!5m2!1suk!2sua"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
              title="Google Map"
            ></iframe>
          } @placeholder {
            <h2 class="how-to-find__title global-block-title">Google map</h2>
          }
        </div>
      </div>
    </div>
  </div>
</div>
