<div class="intro">
  <app-progressive-image
    class="bg-intro-img"
    imageAlt="intro-bg"
    imagePriority="true"
    imageUrl="images/intro/intro-background.jpg"
    imageFill="true"
  ></app-progressive-image>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1 class="intro__title">
          <span>Фасади та Накладки: Ваш</span><span>Шлях до Затишку та</span
          ><span>сучасного Дизайну.</span>
        </h1>
        <a (click)="goToTop()" routerLink="/contact" class="global-button">
          <span>Замовити розкрій</span>
          <app-progressive-image
            class="global-button-img"
            imageAlt="global-button-arrow"
            imagePriority="true"
            imageUrl="images/global/global-button-arrow.svg"
            imageWidth="32"
            imageHeight="16"
            imageFill="false"
          ></app-progressive-image>
        </a>
      </div>
    </div>
  </div>
</div>
