<div class="intro">
  <app-progressive-image
    imageFill="true"
    imageAlt="intro-bg"
    imagePriority="true"
    imageUrl="/images/intro/intro-background.jpg"
  ></app-progressive-image>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1 class="intro__title">
          <span>Фасади та Накладки: Ваш</span><span>Шлях до Затишку та</span
          ><span>сучасного Дизайну.</span>
        </h1>
        <a (click)="goToTop()" routerLink="/contact" class="global-button">
          <span>Замовити розкрій</span>
          <img
            ngSrc="assets/images/global/global-button-arrow.svg"
            alt="global-button-arrow"
            height="16"
            width="32"
            priority
          />
        </a>
      </div>
    </div>
  </div>
</div>
