@import '../../../../assets/styles/mixins/adaptive-font';
@import '../../../../assets/styles/dark-theme';
@import '../../../../assets/styles/light-theme';

.footer {
  padding: 30px 0;
  transition: background-color 0.3s linear;

  &.light-theme {
    background-color: $light-theme-background-color;
  }

  &.dark-theme {
    background-color: $dark-theme-background-color;
  }

  @media screen and (width >= 576px) {
    padding: 50px 0;
  }

  .footer-left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;

    @media (width >= 1200px) {
      align-items: start;
      margin-bottom: 0;
    }

    &__logo {
      &.light-theme {
        a {
          h2 {
            color: $light-theme-color;
          }
        }
      }

      &.dark-theme {
        a {
          h2 {
            color: $dark-theme-color;
          }
        }
      }

      a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h2 {
          margin: 5px 0 0;
          font-weight: 700;
          transition: color 0.3s linear;

          @media (width >= 768px) {
            margin: 5px 0 0 5px;
          }

          @include adaptive-value('font-size', 20, 18, 0);
        }
      }
    }

    &__address {
      display: flex;
      align-items: center;
      margin-top: 15px;
      flex-direction: column;

      @media (width >= 768px) {
        flex-direction: row;
      }

      @media (width >= 1200px) {
        margin-top: 25px;
      }

      &:hover {
        .address-img {
          transform: scale(1.1);
        }
      }

      .address-img {
        margin-right: 0;
        transition: all 0.3s linear;
        margin-bottom: 12px;

        @media (width >= 768px) {
          margin-right: 12px;
        }
      }

      &.light-theme {
        span {
          color: $light-theme-color;
        }
      }

      &.dark-theme {
        span {
          color: $dark-theme-color;
        }
      }

      span {
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        transition: color 0.3s linear;

        @media (width >= 768px) {
          text-align: left;
        }
      }
    }
  }

  .footer-right-side {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;

    @media (width >= 768px) {
      flex-direction: row;
    }

    .footer-right-side-social {
      margin-right: 0;

      @media (width >= 768px) {
        margin-right: 50px;
      }

      &:last-child {
        margin-right: 0;
      }

      a {
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (width >= 768px) {
          justify-content: start;
        }

        @media (width >= 1200px) {
          margin-bottom: 51px;
        }

        &:last-child {
          margin-bottom: 25px;

          @media (width >= 768px) {
            margin-bottom: 0;
          }
        }

        &:hover {
          .footer-social-icon {
            transform: scale(1.1);
          }
        }

        .footer-social-icon {
          width: 30px;
          height: 30px;
          margin-right: 10px;
          transition: all 0.3s linear;
        }

        &.light-theme {
          p {
            color: $light-theme-color;
          }
        }

        &.dark-theme {
          p {
            color: $dark-theme-color;
          }
        }

        p {
          font-weight: 500;
          transition: color 0.3s linear;

          @include adaptive-value('font-size', 24, 22, 0);
        }
      }
    }
  }

  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;

    @media (width >= 768px) {
      margin-top: 25px;
    }

    &.light-theme {
      span {
        color: $light-theme-color;
      }
    }

    &.dark-theme {
      span {
        color: $dark-theme-color;
      }
    }

    span {
      font-size: 15px;
      font-weight: 500;
      transition: color 0.3s linear;
    }
  }
}
