@import '../../../../assets/styles/mixins/adaptive-font';

.footer {
  padding: 30px 0;

  @media screen and (width >= 576px) {
    padding: 50px 0;
  }

  .footer-left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;

    @media (width >= 1200px) {
      align-items: start;
      margin-bottom: 0;
    }

    &__logo {
      a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h2 {
          margin: 5px 0 0;
          font-weight: 700;

          @media (width >= 768px) {
            margin: 5px 0 0 5px;
          }

          @include adaptive-value('font-size', 20, 18, 0);

          color: #593a28;
        }
      }
    }

    &__address {
      display: flex;
      align-items: center;
      margin-top: 15px;
      flex-direction: column;

      @media (width >= 768px) {
        flex-direction: row;
      }

      @media (width >= 1200px) {
        margin-top: 25px;
      }

      &:hover {
        .address-img {
          transform: scale(1.1);
        }
      }

      .address-img {
        margin-right: 0;
        transition: all 0.3s linear;
        margin-bottom: 12px;

        @media (width >= 768px) {
          margin-right: 12px;
        }
      }

      span {
        font-weight: 500;
        font-size: 16px;
        color: #402e21;
        text-align: center;

        @media (width >= 768px) {
          text-align: left;
        }
      }
    }
  }

  .footer-right-side {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;

    @media (width >= 768px) {
      flex-direction: row;
    }

    .footer-right-side-social {
      margin-right: 0;

      @media (width >= 768px) {
        margin-right: 50px;
      }

      &:last-child {
        margin-right: 0;
      }

      a {
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (width >= 768px) {
          justify-content: start;
        }

        @media (width >= 1200px) {
          margin-bottom: 51px;
        }

        &:last-child {
          margin-bottom: 25px;

          @media (width >= 768px) {
            margin-bottom: 0;
          }
        }

        &:hover {
          .footer-social-icon {
            transform: scale(1.1);
          }
        }

        .footer-social-icon {
          width: 30px;
          height: 30px;
          margin-right: 10px;
          transition: all 0.3s linear;
        }

        p {
          font-weight: 500;
          color: #402e21;

          @include adaptive-value('font-size', 24, 22, 0);
        }
      }
    }
  }

  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;

    @media (width >= 768px) {
      margin-top: 25px;
    }

    span {
      color: #402e21;
      font-size: 15px;
      font-weight: 500;
    }
  }
}
