<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-6">
        <div class="footer__left-side footer-left-side">
          <div class="footer-left-side__logo">
            <a routerLink="/home">
              <app-progressive-image
                imageUrl="images/header/logo.svg"
                imageAlt="logo"
                imagePriority="false"
                imageFill="false"
                imageWidth="202"
                imageHeight="30"
              ></app-progressive-image>
              <h2>Ваш дім - наше мистецтво</h2>
            </a>
          </div>
          <div class="footer-left-side__address">
            <app-progressive-image
              class="address-img"
              imageUrl="images/footer/map-marker.svg"
              imageAlt="map-marker"
              imagePriority="false"
              imageFill="false"
              imageWidth="30"
              imageHeight="30"
            ></app-progressive-image>
            <span
              >Україна, Івано-Франківськ, с. Микитинці, вул. Марковеціка 3</span
            >
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6">
        <div class="footer__right-side footer-right-side">
          <div class="footer-right-side__social footer-right-side-social">
            <a
              href="mailto:elit.fasad&#64;hotmail.com"
              class="footer-right-side-social__item"
            >
              <app-progressive-image
                class="footer-social-icon"
                imageUrl="images/footer/email.svg"
                imageAlt="email"
                imagePriority="false"
                imageFill="false"
                imageWidth="30"
                imageHeight="26"
              ></app-progressive-image>
              <p>elit.fasad&#64;hotmail.com</p>
            </a>
            <a
              href="https://www.instagram.com/elitfasad/"
              target="_blank"
              class="footer-right-side-social__item"
            >
              <app-progressive-image
                class="footer-social-icon"
                imageUrl="images/contact-us/instagram.svg"
                imageAlt="instagram"
                imagePriority="false"
                imageFill="false"
                imageWidth="54"
                imageHeight="54"
              ></app-progressive-image>
              <p>&#64;elitfasad</p>
            </a>
          </div>
          <div class="footer-right-side__social footer-right-side-social">
            <a
              href="tg://resolve?domain=+380973201371"
              class="footer-right-side-social__item"
            >
              <app-progressive-image
                class="footer-social-icon"
                imageUrl="images/contact-us/telegram.svg"
                imageAlt="telegram"
                imagePriority="false"
                imageFill="false"
                imageWidth="54"
                imageHeight="54"
              ></app-progressive-image>
              <p>&#64;fasadu_nakladku</p>
            </a>
            <a href="tel:+380973201371" class="footer-right-side-social__item">
              <app-progressive-image
                class="footer-social-icon"
                imageUrl="images/footer/phone.svg"
                imageAlt="phone"
                imagePriority="false"
                imageFill="false"
                imageWidth="30"
                imageHeight="30"
              ></app-progressive-image>
              <p>(068)-804-12-09</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 copyright">
        <span>© Elit-Fasad. 2024</span>
      </div>
    </div>
  </div>
</div>
