@import '../../../../assets/styles/mixins/adaptive-font';
@import '../../../../assets/styles/dark-theme';
@import '../../../../assets/styles/light-theme';

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: background-color 0.3s linear;

  &.light-theme {
    background-color: $light-theme-background-color;
  }

  &.dark-theme {
    background-color: $dark-theme-background-color;
  }

  h2 {
    @include adaptive-value('font-size', 20, 18, 0);

    margin: 15px 0;

    &.light-theme {
      color: $light-theme-color;
    }

    &.dark-theme {
      color: $dark-theme-color;
    }
  }
}

.loader {
  width: 40px;
  aspect-ratio: 1;
  background: var(--c), var(--r1), var(--r2), var(--c), var(--r1), var(--r2),
    var(--c), var(--r1), var(--r2);
  background-repeat: no-repeat;
  animation: l1 1s infinite alternate;

  &.light-theme {
    --c: linear-gradient(#402e21 0 0);
    --r1: radial-gradient(farthest-side at bottom, #402e21 93%, #402e21);
    --r2: radial-gradient(farthest-side at top, #402e21 93%, #402e21);
  }

  &.dark-theme {
    --c: linear-gradient(#f2eddc 0 0);
    --r1: radial-gradient(farthest-side at bottom, #f2eddc 93%, #f2eddc);
    --r2: radial-gradient(farthest-side at top, #f2eddc 93%, #f2eddc);
  }
}

@keyframes l1 {
  0%,
  10% {
    background-size:
      8px 0,
      8px 4px,
      8px 4px;
    background-position:
      0 50%,
      0 calc(50% - 2px),
      0 calc(50% + 2px),
      50% 50%,
      50% calc(50% - 2px),
      50% calc(50% + 2px),
      100% 50%,
      100% calc(50% - 2px),
      100% calc(50% + 2px);
  }

  90%,
  100% {
    background-size:
      8px 100%,
      8px 4px,
      8px 4px;
    background-position:
      0 50%,
      0 -2px,
      0 calc(100% + 2px),
      50% 50%,
      50% -2px,
      50% calc(100% + 2px),
      100% 50%,
      100% -2px,
      100% calc(100% + 2px);
  }
}
