@import '../../../../assets/styles/mixins/adaptive-font';

.loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #f2eddc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    @include adaptive-value('font-size', 20, 18, 0);

    margin: 15px 0;
  }
}

.loader {
  width: 40px;
  aspect-ratio: 1;

  --c: linear-gradient(#402e21 0 0);
  --r1: radial-gradient(farthest-side at bottom, #402e21 93%, #402e21);
  --r2: radial-gradient(farthest-side at top, #402e21 93%, #402e21);

  background: var(--c), var(--r1), var(--r2), var(--c), var(--r1), var(--r2),
    var(--c), var(--r1), var(--r2);
  background-repeat: no-repeat;
  animation: l1 1s infinite alternate;
}

@keyframes l1 {
  0%,
  10% {
    background-size:
      8px 0,
      8px 4px,
      8px 4px;
    background-position:
      0 50%,
      0 calc(50% - 2px),
      0 calc(50% + 2px),
      50% 50%,
      50% calc(50% - 2px),
      50% calc(50% + 2px),
      100% 50%,
      100% calc(50% - 2px),
      100% calc(50% + 2px);
  }

  90%,
  100% {
    background-size:
      8px 100%,
      8px 4px,
      8px 4px;
    background-position:
      0 50%,
      0 -2px,
      0 calc(100% + 2px),
      50% 50%,
      50% -2px,
      50% calc(100% + 2px),
      100% 50%,
      100% -2px,
      100% calc(100% + 2px);
  }
}
