<div class="our-news block-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="our-news__title global-block-title">Наші Новинки</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="swiper-button-prev">
          <app-progressive-image
            imageUrl="images/slider/left-arrow.svg"
            imageAlt="left-arrow"
            imageHeight="16"
            imageWidth="32"
            imagePriority="false"
            imageFill="false"
          ></app-progressive-image>
        </div>
        <div class="swiper-button-next">
          <app-progressive-image
            imageUrl="images/slider/right-arrow.svg"
            imageAlt="right-arrow"
            imageHeight="16"
            imageWidth="32"
            imagePriority="false"
            imageFill="false"
          ></app-progressive-image>
        </div>
        <swiper-container class="swiper-container" init="false">
          <swiper-slide class="swiper-slide">
            <app-progressive-image
              imageUrl="images/our-news/news-slide.webp"
              imageAlt="our-news-slide-image"
              imageHeight="1000"
              imageWidth="1628"
              imagePriority="false"
              imageFill="false"
            ></app-progressive-image>
            <p class="swiper-slide__text">
              <span
                >В Elit-Fasad з’явився великий вибір декорів стільниць
                PFLEIDERER.
              </span>
              <span>Формат стільниці 4100*600 та 4100*1200</span>
              <span>Товщина 38мм </span>
            </p>
          </swiper-slide>
          <swiper-slide class="swiper-slide">
            <app-progressive-image
              imageUrl="images/our-news/news-slide.webp"
              imageAlt="our-news-slide-image"
              imageHeight="1000"
              imageWidth="1628"
              imagePriority="false"
              imageFill="false"
            ></app-progressive-image>
            <p class="swiper-slide__text">
              <span
                >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Dolorem?
              </span>
              <span>Lorem ipsum dolor sit amet.</span>
              <span>Lorem ipsum dolor. </span>
            </p>
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
  </div>
</div>
