@import '../../../../assets/styles/mixins/adaptive-font';
@import '../../../../assets/styles/global-block-title';
@import '../../../../assets/styles/block-padding';

.our-news {
  background: white;
  overflow-x: hidden;

  .container {
    .col-12 {
      position: relative;
    }
  }

  .swiper-container {
    height: 100%;
    width: 100%;
    min-height: 100%;
    max-height: 650px;
    border-radius: 50px;
    overflow: hidden;

    .swiper-slide {
      height: auto;

      img {
        width: 100%;
        height: 100%;
      }

      &__text {
        position: absolute;
        z-index: 99 !important;
        font-weight: 700;
        color: #402e21;
        flex-direction: column;
        left: 50%;
        transform: translateX(-50%);
        bottom: 30px;
        padding: 25px;
        width: 100%;
        max-width: 230px;
        max-height: 120px;
        background-image: linear-gradient(
          to left,
          rgb(217 210 176 / 25%),
          rgb(217 210 176 / 65%)
        );
        border-radius: 15px;

        @media screen and (width >= 491px) {
          max-width: 350px;
        }

        @media screen and (width >= 991px) {
          left: 25px;
          transform: translateX(0%);
          top: 30px;
          max-width: 400px;
        }

        @include adaptive-value('font-size', 23, 17, 0);

        span {
          overflow: hidden;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          display: -webkit-box !important;

          &:nth-child(1) {
            -webkit-line-clamp: 2;
          }

          &:nth-child(2),
          &:nth-child(3) {
            display: none;
          }

          @media screen and (width >= 991px) {
            &:nth-child(2),
            &:nth-child(3) {
              display: inline;
            }
          }
        }
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
    top: 50%;

    &:hover {
      cursor: pointer;
    }

    @media screen and (width >= 767px) {
      position: absolute;
      transform: translateY(-50%);
      background: #d9d2b0;
      padding: 16.5px 17.5px;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
    }
  }

  .swiper-button-prev {
    left: 50px;
  }

  .swiper-button-next {
    right: 50px;
  }
}
