<div class="our-news block-padding" [ngClass]="themeService.themeSignal()">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2
          class="our-news__title global-block-title"
          [ngClass]="themeService.themeSignal()"
        >
          Наші Новинки
        </h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="our-news-swiper-button-prev">
          <app-progressive-image
            imageUrl="slider/left-arrow-dark-theme.svg"
            imageAlt="left-arrow"
            imageHeight="16"
            imageWidth="32"
            imagePriority="false"
            imageFill="false"
          ></app-progressive-image>
        </div>
        <div class="our-news-swiper-button-next">
          <app-progressive-image
            imageUrl="slider/right-arrow-dark-theme.svg"
            imageAlt="right-arrow"
            imageHeight="16"
            imageWidth="32"
            imagePriority="false"
            imageFill="false"
          ></app-progressive-image>
        </div>
        @defer (on immediate) {
          <swiper-container class="our-news-swiper-container" init="false">
            @for (slide of slides; track slide) {
              <swiper-slide class="our-news-swiper-slide" [id]="slide">
                <app-progressive-image
                  imageUrl="our-news/news-slide.jpg"
                  imageAlt="our-news-slide-image"
                  imageHeight="1000"
                  imageWidth="1628"
                  imagePriority="false"
                  imageFill="false"
                ></app-progressive-image>
                <p class="our-news-swiper-slide__text">
                  <span
                    >В Elit-Fasad з’явився великий вибір декорів стільниць
                    PFLEIDERER.
                  </span>
                  <span>Формат стільниці 4100*600 та 4100*1200</span>
                  <span>Товщина 38мм </span>
                </p>
              </swiper-slide>
            }
          </swiper-container>
        } @placeholder {
          <h2 class="our-news__title global-block-title">Наші Новинки</h2>
        }
      </div>
    </div>
  </div>
</div>
