<div class="our-news block-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="our-new__title global-block-title">Наші Новинки</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <swiper-container
          class="swiper-container"
          loop="true"
          navigation="true"
          autoplay-delay="3000"
          autoplay-disable-on-interaction="true"
        >
          <swiper-slide class="swiper-slide">
            <img
              priority
              ngSrc="assets/images/our-news/1.png"
              alt="image"
              height="1000"
              width="1728"
            />
          </swiper-slide>
          <swiper-slide class="swiper-slide"
            ><img
              ngSrc="assets/images/our-news/2.png"
              alt="image"
              height="1000"
              width="1728"
          /></swiper-slide>
          <swiper-slide class="swiper-slide"
            ><img
              ngSrc="assets/images/our-news/3.png"
              alt="image"
              height="1000"
              width="1728"
          /></swiper-slide>
        </swiper-container>
      </div>
    </div>
  </div>
</div>
