<div class="video block-padding" [ngClass]="themeService.themeSignal()">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2
          class="video__title global-block-title"
          [ngClass]="themeService.themeSignal()"
          i18n
        >
          Відео
        </h2>
      </div>
    </div>
  </div>
  @defer (on immediate) {
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="video__container">
            <youtube-player
              class="youtube-player"
              videoId="vTyxwGoDj9s"
              placeholderImageQuality="high"
            />
          </div>
        </div>
      </div>
    </div>
  } @placeholder {
    <h2 class="video__title global-block-title" i18n>Відео</h2>
  }
</div>
