@import '../../../../assets/styles/mixins/adaptive-font';
@import '../../../../assets/styles/global-block-title';
@import '../../../../assets/styles/block-padding';
@import '../../../../assets/styles/dark-theme';
@import '../../../../assets/styles/light-theme';

.hot-top {
  position: relative;

  .swiper-wrap {
    position: relative;
  }

  .hot-top-swiper-slide {
    .slide-block {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .slide-block-img {
        position: relative;
        border-radius: 30px;
        overflow: hidden;
        max-height: 200px;

        &__image {
          width: 100%;
          height: 100%;
        }

        &__code {
          position: absolute;
          top: 30px;
          left: 20px;
          background: #d9d2b0;
          padding: 5px 18px;
          border-radius: 15px;

          span {
            font-weight: 500;
            font-size: 16px;
          }
        }

        &__icon {
          position: absolute;
          top: 20px;
          right: 20px;

          img {
            width: 100%;
            height: 100%;
            max-width: 50px;
            max-height: 50px;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }

      .slide-block-info {
        margin: 20px 0 40px;
        font-weight: 500;

        &__title {
          margin-bottom: 6px;
          overflow: hidden;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          display: -webkit-box;
          transition: color 0.3s linear;

          @include adaptive-value('font-size', 20, 18, 0);

          &.light-theme {
            color: $light-theme-color;
          }

          &.dark-theme {
            color: $dark-theme-color;
          }
        }
      }

      .slide-block-basket {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;

        img {
          height: 100%;
          width: 100%;
          max-width: 44px;
          max-height: 44px;
          background: #f2eddc;
          padding: 8px 28px;
          border-radius: 15px;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .hot-top-swiper-button-prev,
  .hot-top-swiper-button-next {
    &:hover {
      cursor: pointer;
    }

    @media screen and (width >= 767px) {
      position: relative;
      background: #d9d2b0;
      padding: 16.5px 17.5px;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 99;
    }

    &::after {
      display: none;
    }
  }

  .swiper-navigation-container {
    display: none;

    @media screen and (width >= 767px) {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .hot-top-swiper-button-prev {
    left: 50px;
  }

  .hot-top-swiper-button-next {
    right: 50px;
  }
}
