<div class="hot-top block-padding" [ngClass]="themeService.themeSignal()">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2
          class="hot-top__title global-block-title"
          [ngClass]="themeService.themeSignal()"
          i18n
        >
          Гарячий топ сезону
        </h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="swiper-wrap">
          @defer (on immediate) {
            <swiper-container class="hot-top-swiper-container" init="false">
              <swiper-slide class="hot-top-swiper-slide"
                ><div class="slide-block">
                  <div class="slide-block__img slide-block-img">
                    <app-progressive-image
                      imageUrl="hot-top/2.jpg"
                      imageAlt="gluing-hpl-plastic"
                      imageWidth="385"
                      imageHeight="250"
                      imagePriority="false"
                      imageFill="false"
                    ></app-progressive-image>
                    <div class="slide-block-img__code">
                      <span i18n>код:</span>
                      <span>8017</span>
                    </div>
                    <div class="slide-block-img__icon">
                      <app-progressive-image
                        imageHeight="50"
                        imageWidth="50"
                        imageFill="false"
                        imagePriority="false"
                        imageAlt="heart-icon"
                        imageUrl="hot-top/heart-icon.svg"
                      ></app-progressive-image>
                    </div>
                  </div>
                  <div class="slide-block__info slide-block-info">
                    <h3
                      class="slide-block-info__title"
                      [ngClass]="themeService.themeSignal()"
                      i18n
                    >
                      Фасади фарбовані “Шоколадно-коричневий колір”
                    </h3>
                  </div>
                  <div class="slide-block__basket slide-block-basket">
                    @if (this.themeService.themeSignal() === 'dark-theme') {
                      <app-progressive-image
                        imageHeight="44"
                        imageWidth="44"
                        imageFill="false"
                        imagePriority="false"
                        imageAlt="basket-icon"
                        imageUrl="hot-top/basket-icon-light-theme.svg"
                      ></app-progressive-image>
                    } @else {
                      <app-progressive-image
                        imageHeight="44"
                        imageWidth="44"
                        imageFill="false"
                        imagePriority="false"
                        imageAlt="basket-icon"
                        imageUrl="hot-top/basket-icon-dark-theme.svg"
                      ></app-progressive-image>
                    }
                  </div></div
              ></swiper-slide>
              <swiper-slide class="hot-top-swiper-slide">
                <div class="slide-block">
                  <div class="slide-block__img slide-block-img">
                    <app-progressive-image
                      imageUrl="hot-top/1.jpg"
                      imageAlt="gluing-hpl-plastic"
                      imageWidth="385"
                      imageHeight="250"
                      imagePriority="false"
                      imageFill="false"
                    ></app-progressive-image>
                    <div class="slide-block-img__code">
                      <span i18n>код:</span>
                      <span>KOD56</span>
                    </div>
                    <div class="slide-block-img__icon">
                      <app-progressive-image
                        imageHeight="50"
                        imageWidth="50"
                        imageFill="false"
                        imagePriority="false"
                        imageAlt="heart-icon"
                        imageUrl="hot-top/heart-icon.svg"
                      ></app-progressive-image>
                    </div>
                  </div>
                  <div class="slide-block__info slide-block-info">
                    <h3
                      class="slide-block-info__title"
                      [ngClass]="themeService.themeSignal()"
                      i18n
                    >
                      Стільниця Мармур в білих бризках.
                    </h3>
                  </div>
                  <div class="slide-block__basket slide-block-basket">
                    @if (this.themeService.themeSignal() === 'dark-theme') {
                      <app-progressive-image
                        imageHeight="44"
                        imageWidth="44"
                        imageFill="false"
                        imagePriority="false"
                        imageAlt="basket-icon"
                        imageUrl="hot-top/basket-icon-light-theme.svg"
                      ></app-progressive-image>
                    } @else {
                      <app-progressive-image
                        imageHeight="44"
                        imageWidth="44"
                        imageFill="false"
                        imagePriority="false"
                        imageAlt="basket-icon"
                        imageUrl="hot-top/basket-icon-dark-theme.svg"
                      ></app-progressive-image>
                    }
                  </div>
                </div>
              </swiper-slide>
              <swiper-slide class="hot-top-swiper-slide"
                ><div class="slide-block">
                  <div class="slide-block__img slide-block-img">
                    <app-progressive-image
                      imageUrl="services/processing-of-facades-6.jpg"
                      imageAlt="gluing-hpl-plastic"
                      imageWidth="385"
                      imageHeight="250"
                      imagePriority="false"
                      imageFill="false"
                    ></app-progressive-image>
                    <div class="slide-block-img__code">
                      <span i18n>код:</span>
                      <span>678M</span>
                    </div>
                    <div class="slide-block-img__icon">
                      <app-progressive-image
                        imageHeight="50"
                        imageWidth="50"
                        imageFill="false"
                        imagePriority="false"
                        imageAlt="heart-icon"
                        imageUrl="hot-top/heart-icon.svg"
                      ></app-progressive-image>
                    </div>
                  </div>
                  <div class="slide-block__info slide-block-info">
                    <h3
                      class="slide-block-info__title"
                      [ngClass]="themeService.themeSignal()"
                      i18n
                    >
                      Фасади з HPL- Пластиком “Дуб Натуральний” та кромкуванням
                      (19мм товщина)
                    </h3>
                  </div>
                  <div class="slide-block__basket slide-block-basket">
                    @if (this.themeService.themeSignal() === 'dark-theme') {
                      <app-progressive-image
                        imageHeight="44"
                        imageWidth="44"
                        imageFill="false"
                        imagePriority="false"
                        imageAlt="basket-icon"
                        imageUrl="hot-top/basket-icon-light-theme.svg"
                      ></app-progressive-image>
                    } @else {
                      <app-progressive-image
                        imageHeight="44"
                        imageWidth="44"
                        imageFill="false"
                        imagePriority="false"
                        imageAlt="basket-icon"
                        imageUrl="hot-top/basket-icon-dark-theme.svg"
                      ></app-progressive-image>
                    }
                  </div></div
              ></swiper-slide>

              <swiper-slide class="hot-top-swiper-slide">
                <div class="slide-block">
                  <div class="slide-block__img slide-block-img">
                    <app-progressive-image
                      imageUrl="hot-top/4.jpg"
                      imageAlt="gluing-hpl-plastic"
                      imageWidth="385"
                      imageHeight="250"
                      imagePriority="false"
                      imageFill="false"
                    ></app-progressive-image>
                    <div class="slide-block-img__code">
                      <span i18n>код:</span>
                      <span>985М</span>
                    </div>
                    <div class="slide-block-img__icon">
                      <app-progressive-image
                        imageHeight="50"
                        imageWidth="50"
                        imageFill="false"
                        imagePriority="false"
                        imageAlt="heart-icon"
                        imageUrl="hot-top/heart-icon.svg"
                      ></app-progressive-image>
                    </div>
                  </div>
                  <div class="slide-block__info slide-block-info">
                    <h3
                      class="slide-block-info__title"
                      [ngClass]="themeService.themeSignal()"
                      i18n
                    >
                      Фасади з HPL- Пластиком “Горіх Сірий” та кромкуванням
                      (19мм товщина)
                    </h3>
                  </div>
                  <div class="slide-block__basket slide-block-basket">
                    @if (this.themeService.themeSignal() === 'dark-theme') {
                      <app-progressive-image
                        imageHeight="44"
                        imageWidth="44"
                        imageFill="false"
                        imagePriority="false"
                        imageAlt="basket-icon"
                        imageUrl="hot-top/basket-icon-light-theme.svg"
                      ></app-progressive-image>
                    } @else {
                      <app-progressive-image
                        imageHeight="44"
                        imageWidth="44"
                        imageFill="false"
                        imagePriority="false"
                        imageAlt="basket-icon"
                        imageUrl="hot-top/basket-icon-dark-theme.svg"
                      ></app-progressive-image>
                    }
                  </div>
                </div>
              </swiper-slide>

              <swiper-slide class="hot-top-swiper-slide">
                <div class="slide-block">
                  <div class="slide-block__img slide-block-img">
                    <app-progressive-image
                      imageUrl="hot-top/5.jpg"
                      imageAlt="gluing-hpl-plastic"
                      imageWidth="385"
                      imageHeight="250"
                      imagePriority="false"
                      imageFill="false"
                    ></app-progressive-image>
                    <div class="slide-block-img__code">
                      <span i18n>код:</span>
                      <span>985М</span>
                    </div>
                    <div class="slide-block-img__icon">
                      <app-progressive-image
                        imageHeight="50"
                        imageWidth="50"
                        imageFill="false"
                        imagePriority="false"
                        imageAlt="heart-icon"
                        imageUrl="hot-top/heart-icon.svg"
                      ></app-progressive-image>
                    </div>
                  </div>
                  <div class="slide-block__info slide-block-info">
                    <h3
                      class="slide-block-info__title"
                      [ngClass]="themeService.themeSignal()"
                      i18n
                    >
                      Фасади фарбовані “Очеретяно-зелений колір”
                    </h3>
                  </div>
                  <div class="slide-block__basket slide-block-basket">
                    @if (this.themeService.themeSignal() === 'dark-theme') {
                      <app-progressive-image
                        imageHeight="44"
                        imageWidth="44"
                        imageFill="false"
                        imagePriority="false"
                        imageAlt="basket-icon"
                        imageUrl="hot-top/basket-icon-light-theme.svg"
                      ></app-progressive-image>
                    } @else {
                      <app-progressive-image
                        imageHeight="44"
                        imageWidth="44"
                        imageFill="false"
                        imagePriority="false"
                        imageAlt="basket-icon"
                        imageUrl="hot-top/basket-icon-dark-theme.svg"
                      ></app-progressive-image>
                    }
                  </div>
                </div>
              </swiper-slide>
            </swiper-container>
          } @placeholder {
            <h2 class="hot-top__title global-block-title" i18n>
              Гарячий топ сезону
            </h2>
          }
          <div class="swiper-navigation-container">
            <div class="hot-top-swiper-button-prev">
              <app-progressive-image
                imageHeight="16"
                imageWidth="32"
                imageFill="false"
                imagePriority="false"
                imageAlt="left-arrow"
                imageUrl="slider/left-arrow-dark-theme.svg"
              ></app-progressive-image>
            </div>
            <div class="hot-top-swiper-pagination"></div>
            <div class="hot-top-swiper-button-next">
              <app-progressive-image
                imageHeight="16"
                imageWidth="32"
                imageFill="false"
                imagePriority="false"
                imageAlt="right-arrow"
                imageUrl="slider/right-arrow-dark-theme.svg"
              ></app-progressive-image>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
