@import 'assets/styles/config';
@import 'assets/styles/bootstrap-grid';
@import 'assets/styles/youtube-player';
@import 'assets/styles/hot-top-swiper-pagination';
@import 'assets/styles/light-theme';
@import 'assets/styles/dark-theme';

.about,
.services {
  transition: background-color 0.3s linear;

  &.light-theme {
    background-color: $light-theme-background-color;
  }

  &.dark-theme {
    background-color: $dark-theme-background-color;
  }
}
