@import 'assets/styles/config';
@import 'assets/styles/bootstrap-grid';
@import 'assets/styles/youtube-player';
@import 'assets/styles/hot-top-swiper-pagination';
@import 'assets/styles/light-theme';
@import 'assets/styles/dark-theme';

.services,
.our-news,
.video,
.standards,
.how-to-find,
.hot-top,
.contact-us {
  position: relative;
  transition: background-color 0.3s linear;

  &.light-theme {
    background-color: $light-theme-background-color;

    // &::before {
    //   background-color: $dark-theme-background-color;background-color
    // }
  }

  &.dark-theme {
    background-color: $dark-theme-background-color;

    // &::before {
    //   background-color: $light-theme-background-color;background-color
    // }
  }

  // &::before {
  //   transition: background-color 0.3s linear;transition
  //   position: absolute;position
  //   content: '';content
  //   left: 0;left
  //   bottom: 0;bottom
  //   width: 100%;width
  //   height: 1px;height
  // }
}
