@import 'reset';

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 355px !important;
  text-size-adjust: 100%;
  font-family: Nunito, sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 16px;
  position: relative;
  overflow-x: hidden;

  &.lock {
    overflow: hidden !important;
  }

  &::-webkit-scrollbar {
    width: 9px;
  }

  &::-webkit-scrollbar-track {
    background: #d9d2b0;
  }

  &::-webkit-scrollbar-thumb {
    background: #593a28;
    border-radius: 15px;
  }
}

.none {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}

.page {
  padding-top: 90px;

  @media screen and (width <= 768px) {
    padding-top: 80px;
  }
}
