@import 'mixins/adaptive-font';

.global-block-title {
  color: #0d0000;
  font-weight: 700;
  margin-bottom: 25px;
  text-align: center;

  @media screen and (width >= 767px) {
    text-align: left;
  }

  @include adaptive-value('font-size', 48, 30, 0);

  @media screen and (width >= 992px) {
    margin-bottom: 50px;
  }
}
