@import 'mixins/adaptive-font';
@import 'dark-theme';
@import 'light-theme';

.global-block-title {
  transition: color 0.3s linear;
  font-weight: 700;
  margin-bottom: 25px;
  text-align: center;

  &.light-theme {
    color: $light-theme-color;
  }

  &.dark-theme {
    color: $dark-theme-color;
  }

  @media screen and (width >= 767px) {
    text-align: left;
  }

  @include adaptive-value('font-size', 48, 30, 0);

  @media screen and (width >= 992px) {
    margin-bottom: 50px;
  }
}
