<div class="services block-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="services__title global-block-title">Послуги</h3>
      </div>

      <!--      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">-->
      <!--        <div class="services__item">-->
      <!--          <img-->
      <!--            ngSrc="assets/images/services/cut-1.webp"-->
      <!--            alt="Порізка"-->
      <!--            height="550"-->
      <!--            width="384"-->
      <!--            priority-->
      <!--          />-->
      <!--        </div>-->
      <!--      </div>-->
      <!--      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">-->
      <!--        <div class="services__item">-->
      <!--          <img-->
      <!--            ngSrc="assets/images/services/milling-2.webp"-->
      <!--            alt="Фрезерування"-->
      <!--            height="550"-->
      <!--            width="661"-->
      <!--            priority-->
      <!--          />-->
      <!--        </div>-->
      <!--      </div>-->
      <!--    </div>-->
    </div>

    <!--<div class="service-container__item">-->
    <!--  <img-->
    <!--    ngSrc="assets/images/services/gluing-the-film-3.webp"-->
    <!--    alt="Поклейка плівки"-->
    <!--    height="550"-->
    <!--    width="661"-->
    <!--  />-->
    <!--</div>-->
    <!--<div class="service-container__item">-->
    <!--  <img-->
    <!--    ngSrc="assets/images/services/edging-4.webp"-->
    <!--    alt="Кромкування"-->
    <!--    height="550"-->
    <!--    width="384"-->
    <!--  />-->
    <!--</div>-->
    <!--<div class="service-container__item">-->
    <!--  <img-->
    <!--    ngSrc="assets/images/services/gluing-hpl-plastic-5.webp"-->
    <!--    alt="Поклейка HPL-Пластика"-->
    <!--    height="349"-->
    <!--    width="523"-->
    <!--  />-->
    <!--</div>-->
    <!--<div class="service-container__item">-->
    <!--  <img-->
    <!--    ngSrc="assets/images/services/processing-of-facades-6.webp"-->
    <!--    alt="Переробка фасадів"-->
    <!--    height="349"-->
    <!--    width="523"-->
    <!--  />-->
    <!--</div>-->
    <!--<div class="service-container__item">-->
    <!--  <img-->
    <!--    ngSrc="assets/images/services/dyeing-7.webp"-->
    <!--    alt="Фарбування"-->
    <!--    height="372"-->
    <!--    width="523"-->
    <!--  />-->
    <!--</div>-->
  </div>
</div>
