@import '../../../../assets/styles/global-block-title';
@import '../../../../assets/styles/block-padding';

.services {
  background: white;

  .border-radius {
    overflow: hidden;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    position: relative;

    &:hover {
      .text-container {
        opacity: 0.8;
        visibility: visible;
      }
    }

    .text-container {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #3c3c3c;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s linear;

      p {
        position: absolute;
        top: 65%;
        left: 0;
        transform: translate(0, -65%);
        width: 100%;
        text-align: center;
        color: #bfbc8a;
        font-weight: 700;
        font-size: 35px;

        @media screen and (width >= 576px) {
          font-size: 20px;
        }

        @media screen and (width >= 768px) {
          font-size: 17px;
        }

        @media screen and (width >= 992px) {
          font-size: 23px;
        }

        @media screen and (width >= 1200px) {
          font-size: 27px;
        }

        @media screen and (width >= 1400px) {
          font-size: 32px;
        }
      }
    }
  }

  .services-left-side {
    .row {
      margin-bottom: 20px;

      @media screen and (width >= 1200px) {
        margin-bottom: 25px;
      }

      @media screen and (width >= 1400px) {
        margin-bottom: 30px;
      }
    }

    .col-sm-4,
    .col-sm-8 {
      max-height: 349px !important;
      margin-bottom: 20px;

      @media screen and (width >= 576px) {
        margin-bottom: 0;
      }

      @media screen and (width >= 768px) {
        max-height: 231px !important;
      }

      @media screen and (width >= 992px) {
        max-height: 312.5px !important;
      }

      @media screen and (width >= 1200px) {
        max-height: 376.5px !important;
      }

      @media screen and (width >= 1400px) {
        max-height: 440.5px !important;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .services-right-side {
    .col-12 {
      margin-bottom: 20px;

      @media screen and (width >= 1200px) {
        margin-bottom: 25px;
      }

      @media screen and (width >= 1400px) {
        margin-bottom: 30px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
