<div class="services block-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="services__title global-block-title">Послуги</h3>
      </div>
      @defer (on immediate) {
        <div class="col 12">
          <div class="row">
            <div class="col-12 col-md-8 services__left-side services-left-side">
              <div class="row">
                <div class="col-12 col-sm-4">
                  <div class="border-radius">
                    <div class="text-container">
                      <p>Порізка</p>
                    </div>
                    <app-progressive-image
                      imageUrl="assets/images/services/cut-1.webp"
                      imageUrlPlaceholder="assets/images/services/cut-1-placeholder.webp"
                      imageAlt="cut"
                      imageWidth="384"
                      imageHeight="550"
                      imagePriority="false"
                      imageFill="false"
                    ></app-progressive-image>
                  </div>
                </div>
                <div class="col-12 col-sm-8">
                  <div class="border-radius">
                    <div class="text-container">
                      <p>Фрезерування</p>
                    </div>
                    <app-progressive-image
                      imageUrl="assets/images/services/milling-2.webp"
                      imageUrlPlaceholder="assets/images/services/milling-2-placeholder.webp"
                      imageAlt="milling"
                      imageWidth="661"
                      imageHeight="550"
                      imagePriority="false"
                      imageFill="false"
                    ></app-progressive-image>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-8">
                  <div class="border-radius">
                    <div class="text-container">
                      <p>Поклейка плівки</p>
                    </div>
                    <app-progressive-image
                      imageUrl="assets/images/services/gluing-the-film-3.webp"
                      imageUrlPlaceholder="assets/images/services/gluing-the-film-3-placeholder.webp"
                      imageAlt="gluing-the-film"
                      imageWidth="661"
                      imageHeight="550"
                      imagePriority="false"
                      imageFill="false"
                    ></app-progressive-image>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="border-radius">
                    <div class="text-container">
                      <p>Кромкування</p>
                    </div>
                    <app-progressive-image
                      imageUrl="assets/images/services/edging-4.webp"
                      imageUrlPlaceholder="assets/images/services/edging-4-placeholder.webp"
                      imageAlt="edging"
                      imageWidth="384"
                      imageHeight="550"
                      imagePriority="false"
                      imageFill="false"
                    ></app-progressive-image>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-12 col-md-4 services__right-side services-right-side"
            >
              <div class="row">
                <div class="col-12">
                  <div class="border-radius">
                    <div class="text-container">
                      <p>Поклейка HPL-Пластика</p>
                    </div>
                    <app-progressive-image
                      imageUrl="assets/images/services/gluing-hpl-plastic-5.webp"
                      imageUrlPlaceholder="assets/images/services/gluing-hpl-plastic-5-placeholder.webp"
                      imageAlt="gluing-hpl-plastic"
                      imageWidth="523"
                      imageHeight="349"
                      imagePriority="false"
                      imageFill="false"
                    ></app-progressive-image>
                  </div>
                </div>
                <div class="col-12">
                  <div class="border-radius">
                    <div class="text-container">
                      <p>Переробка фасадів</p>
                    </div>
                    <app-progressive-image
                      imageUrl="assets/images/services/processing-of-facades-6.webp"
                      imageUrlPlaceholder="assets/images/services/processing-of-facades-6-placeholder.webp"
                      imageAlt="processing-of-facades"
                      imageWidth="523"
                      imageHeight="349"
                      imagePriority="false"
                      imageFill="false"
                    ></app-progressive-image>
                  </div>
                </div>
                <div class="col-12">
                  <div class="border-radius">
                    <div class="text-container">
                      <p>Фарбування</p>
                    </div>
                    <app-progressive-image
                      imageUrl="assets/images/services/dyeing-7.webp"
                      imageUrlPlaceholder="assets/images/services/dyeing-7-placeholder.webp"
                      imageAlt="dyeing"
                      imageWidth="523"
                      imageHeight="372"
                      imagePriority="false"
                      imageFill="false"
                    ></app-progressive-image>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      } @placeholder {
        <h3 class="services__title global-block-title">Послуги</h3>
      }
    </div>
  </div>
</div>
